.Capsule {
  width: 750px;
  height: 800px;
  background: #eb9b9b;
  background-size: 100%;
  position: relative;
  overflow-X: hidden;
}
.Capsule .rule {
  font-size: 26px;
  color: #fff;
  position: absolute;
  top: 313px;
  left: 18px;
  text-decoration: underline;
}
.Capsule .getkey {
  width: 156px;
  height: 67px;
  background: #eb9b9b;
  background-size: 100%;
  position: absolute;
  font-size: 24px;
  top: 289px;
  right: 0;
}
.Capsule .isgetkey {
  animation: anim13 0.7s ease-out infinite;
}
.Capsule .keyNum {
  width: 283px;
  height: 72px;
  background-size: 100%;
  position: absolute;
  top: 324px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 13;
  text-align: right;
}
.Capsule .keyNum p {
  line-height: 78px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 210px;
}
.Capsule .start {
  width: 328px;
  height: 137px;
  background: url("../../static/img/twist1.png") no-repeat center;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: transparent;
  outline: none;
}
.Capsule .isstart {
  background: url("../../static/img/twist2.png") no-repeat center;
  background-size: 100%;
}
.Capsule .nokey {
  background: url("../../static/img/twist2.png") no-repeat center;
}
.Capsule #ballBox {
  width: 575px;
  height: 595px;
  position: absolute;
  left: 92px;
  top: 0;
  background: url("../../static/img/bg/bg-age.png") no-repeat;
  background-size: 100%;
  z-index: 12;
}
.Capsule .ball {
  width: 575px;
  height: 595px;
  position: relative;
  left: 92px;
  top: 0;
}
.Capsule .ball .down {
  width: 56px;
  height: 56px;
  position: absolute;
  z-index: 14;
  background-size: 100%;
  top: 260px;
  left: -60px;
  animation: anim12 1.7s forwards cubic-bezier(0.65, -0.28, 0.68, 0.53);
}
.Capsule .ball .start1 {
  animation: animX1 0.7s infinite ease-in, animY1 0.7s infinite ease-out;
}
.Capsule .ball .start2 {
  animation: animX2 0.7s infinite ease-in, animY2 0.7s infinite ease-out;
}
.Capsule .ball .start3 {
  animation: animX3 0.7s infinite ease-in, animY3 0.7s infinite ease-out;
}
.Capsule .ball .start4 {
  animation: animX4 0.7s infinite ease-in, animY4 0.7s infinite ease-out;
}
.Capsule .ball .start5 {
  animation: animX5 0.7s infinite ease-in, animY5 0.7s infinite ease-out;
}
.Capsule .ball .start6 {
  animation: animX6 0.7s infinite ease-in, animY6 0.7s infinite ease-out;
}
.Capsule .ball .start7 {
  animation: animX7 0.7s infinite ease-in, animY7 0.7s infinite ease-out;
}
.Capsule .ball .start8 {
  animation: animX8 0.7s infinite ease-in, animY8 0.7s infinite ease-out;
}
.Capsule .ball .start9 {
  animation: animX9 0.7s infinite ease-in, animY9 0.7s infinite ease-out;
}
.Capsule .ball .start10 {
  animation: animX10 0.7s infinite ease-in, animY10 0.7s infinite ease-out;
}
.Capsule .ball .start11 {
  animation: animX11 0.7s infinite ease-in, animY11 0.7s infinite ease-out;
}
.Capsule .ball .start12 {
  animation: animX12 0.7s infinite ease-in, animY12 0.7s infinite ease-out;
}
.Capsule .ball .qiu_item-1-mv {
  background: url("../../static/img/purple.png") no-repeat;
  top: 226px;
  right: 26px;
  z-index: 2;
}
.Capsule .ball .qiu_item-11-mv {
  background: url("../../static/img/purple.png") no-repeat;
  top: 170px;
  left: 150px;
}
.Capsule .ball .qiu_item-2-mv {
  background: url("../../static/img/yellow.png") no-repeat;
  top: 338px;
  right: 51px;
}
.Capsule .ball .qiu_item-3-mv {
  background: url("../../static/img/yellow.png") no-repeat;
  top: 248px;
  right: 182px;
}
.Capsule .ball .qiu_item-4-mv {
  background: url("../../static/img/yellow.png") no-repeat;
  top: 394px;
  right: 292px;
}
.Capsule .ball .qiu_item-5-mv {
  background: url("../../static/img/yellow.png") no-repeat;
  top: 290px;
  left: 21px;
}
.Capsule .ball .qiu_item-6-mv {
  background: url("../../static/img/blue.png") no-repeat;
  top: 351px;
  right: 152px;
}
.Capsule .ball .qiu_item-7-mv {
  background: url("../../static/img/blue.png") no-repeat;
  top: 353px;
  left: 105px;
}
.Capsule .ball .qiu_item-1-mv,
.Capsule .ball .qiu_item-11-mv,
.Capsule .ball .qiu_item-2-mv,
.Capsule .ball .qiu_item-3-mv,
.Capsule .ball .qiu_item-4-mv,
.Capsule .ball .qiu_item-5-mv,
.Capsule .ball .qiu_item-6-mv,
.Capsule .ball .qiu_item-7-mv {
  position: absolute;
  width: 118px;
  height: 118px;
  background-size: 100%;
}
.Capsule .ball .qiu_item-8-mv {
  position: absolute;
  background: url("../../static/img/blueGift.png") no-repeat;
  background-size: 100%;
  width: 177px;
  height: 177px;
  top: 180px;
  right: 67px;
  z-index: 4;
}
.Capsule .ball .qiu_item-9-mv {
  position: absolute;
  background: url("../../static/img/yellowGift.png") no-repeat;
  background-size: 100%;
  width: 177px;
  height: 177px;
  top: 190px;
  right: 372px;
  z-index: 2;
}
.Capsule .ball .qiu_item-10-mv {
  position: absolute;
  background: url("../../static/img/purpleGift.png") no-repeat;
  background-size: 100%;
  width: 205px;
  height: 177px;
  top: 219px;
  right: 228px;
  z-index: 3;
}
.Capsule .ball .qiu_item-12-mv {
  position: absolute;
  background: url("../../static/img/yellowgift2.png") no-repeat;
  background-size: 100%;
  background-position: center;
  width: 177px;
  height: 236px;
  top: 49px;
  right: 228px;
  z-index: 2;
}
@keyframes animX1 {
  0% {
    top: 226px;
  }
  25% {
    top: 50px;
  }
  50% {
    top: 226px;
  }
  75% {
    top: 413px;
  }
  100% {
    top: 226px;
  }
}
@keyframes animY1 {
  0% {
    right: 26px;
  }
  25% {
    right: 190px;
  }
  50% {
    right: 450px;
  }
  75% {
    right: 190px;
  }
  100% {
    right: 26px;
  }
}
@keyframes animX2 {
  0% {
    top: 385px;
  }
  25% {
    top: 300px;
  }
  50% {
    top: 156px;
  }
  75% {
    top: 413px;
  }
  100% {
    top: 385px;
  }
}
@keyframes animY2 {
  0% {
    right: 51px;
  }
  25% {
    right: 200px;
  }
  50% {
    right: 150px;
  }
  75% {
    right: 130px;
  }
  100% {
    right: 51px;
  }
}
@keyframes animX3 {
  0% {
    top: 248px;
  }
  25% {
    top: 80px;
  }
  50% {
    top: 150px;
  }
  75% {
    top: 200px;
  }
  100% {
    top: 248px;
  }
}
@keyframes animY3 {
  0% {
    right: 182px;
  }
  25% {
    right: 230px;
  }
  50% {
    right: 300px;
  }
  75% {
    right: 200px;
  }
  100% {
    right: 182px;
  }
}
@keyframes animX4 {
  0% {
    top: 394px;
  }
  25% {
    top: 60px;
  }
  50% {
    top: 160px;
  }
  75% {
    top: 263px;
  }
  100% {
    top: 394px;
  }
}
@keyframes animY4 {
  0% {
    right: 292px;
  }
  25% {
    right: 60px;
  }
  50% {
    right: 300px;
  }
  75% {
    right: 60px;
  }
  100% {
    right: 292px;
  }
}
@keyframes animX5 {
  0% {
    top: 290px;
  }
  25% {
    top: 240px;
  }
  50% {
    top: 50px;
  }
  75% {
    top: 363px;
  }
  100% {
    top: 290px;
  }
}
@keyframes animY5 {
  0% {
    left: 21px;
  }
  25% {
    left: 450px;
  }
  50% {
    left: 250px;
  }
  75% {
    left: 50px;
  }
  100% {
    left: 21px;
  }
}
@keyframes animX6 {
  0% {
    top: 351px;
  }
  25% {
    top: 219px;
  }
  50% {
    top: 60px;
  }
  75% {
    top: 263px;
  }
  100% {
    top: 351px;
  }
}
@keyframes animY6 {
  0% {
    right: 152px;
  }
  25% {
    right: 50px;
  }
  50% {
    right: 250px;
  }
  75% {
    right: 420px;
  }
  100% {
    right: 152px;
  }
}
@keyframes animX7 {
  0% {
    top: 353px;
  }
  25% {
    top: 300px;
  }
  50% {
    top: 126px;
  }
  75% {
    top: 363px;
  }
  100% {
    top: 353px;
  }
}
@keyframes animY7 {
  0% {
    left: 105px;
  }
  25% {
    left: 400px;
  }
  50% {
    left: 250px;
  }
  75% {
    left: 50px;
  }
  100% {
    left: 105px;
  }
}
@keyframes animX8 {
  0% {
    top: 180px;
  }
  25% {
    top: 50px;
  }
  50% {
    top: 100px;
  }
  75% {
    top: 313px;
  }
  100% {
    top: 180px;
  }
}
@keyframes animY8 {
  0% {
    right: 67px;
  }
  25% {
    right: 90px;
  }
  50% {
    right: 350px;
  }
  75% {
    right: 290px;
  }
  100% {
    right: 67px;
  }
}
@keyframes animX9 {
  0% {
    top: 190px;
  }
  25% {
    top: 350px;
  }
  50% {
    top: 56px;
  }
  75% {
    top: 413px;
  }
  100% {
    top: 190px;
  }
}
@keyframes animY9 {
  0% {
    right: 372px;
  }
  25% {
    right: 290px;
  }
  50% {
    right: 70px;
  }
  75% {
    right: 190px;
  }
  100% {
    right: 372px;
  }
}
@keyframes animX10 {
  0% {
    top: 219px;
  }
  25% {
    top: 50px;
  }
  50% {
    top: 226px;
  }
  75% {
    top: 413px;
  }
  100% {
    top: 219px;
  }
}
@keyframes animY10 {
  0% {
    right: 228px;
  }
  25% {
    right: 190px;
  }
  50% {
    right: 360px;
  }
  75% {
    right: 190px;
  }
  100% {
    right: 228px;
  }
}
@keyframes animX11 {
  0% {
    top: 170px;
  }
  25% {
    top: 350px;
  }
  50% {
    top: 256px;
  }
  75% {
    top: 413px;
  }
  100% {
    top: 170px;
  }
}
@keyframes animY11 {
  0% {
    left: 150px;
  }
  25% {
    left: 60px;
  }
  50% {
    left: 450px;
  }
  75% {
    left: 190px;
  }
  100% {
    left: 150px;
  }
}
@keyframes animX12 {
  0% {
    top: 49px;
  }
  25% {
    top: 20px;
  }
  50% {
    top: 249px;
  }
  75% {
    top: 349px;
  }
  100% {
    top: 49px;
  }
}
@keyframes animY12 {
  0% {
    left: 228px;
  }
  25% {
    left: 428px;
  }
  50% {
    left: 50px;
  }
  75% {
    left: 190px;
  }
  100% {
    left: 228px;
  }
}
@keyframes anim12 {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(330deg);
    top: 620px;
  }
  70% {
    transform: rotate(330deg);
    top: 620px;
    opacity: 0;
  }
  100% {
    transform: rotate(330deg);
    top: 620px;
    left: 100px;
    opacity: 1;
  }
}
@keyframes anim13 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.footer {
  position: absolute;
  bottom: 35px;
  width: 100%;
}
.footer .broadcastList {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: -5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .broadcastList p {
  color: #fff;
}
.footer .broadcastList .box {
  width: 70%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer .broadcastList .box .listItem {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
}
.footer .broadcastList .box .listItem .content {
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
.footer .broadcastList .box .listItem img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.footer .broadcastList .box .listItem span,
.footer .broadcastList .box .listItem p {
  color: #fff;
  margin-left: 5px;
  margin-top: 5px;
  white-space: nowrap;
}
.footer .broadcastList .box .listItem .uname {
  max-width: 200px;
}
.footer .noproess {
  width: 100%;
  text-align: center;
  color: #fff;
}
.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s linear;
}
.slide-enter {
  transform: translateY(20px) scale(1);
  opacity: 1;
}
.slide-leave-to {
  transform: translateY(-20px) scale(0.8);
  opacity: 0;
}
